<div class="container col-sm-12 col-md-8 col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            Jugadores
        </div>
        <div class="panel-body">
            <div class="row">
                <table class="table table-striped text-center">
                    <thead>
                    <tr><th class="text-center">Nombre</th><th class="text-center">Acciones</th></tr>
                    </thead>
                    <tbody><tr ng-repeat="user in users">
                        <td>{{user.name}}</td>
                        <td><button type="button" class="btn btn-default" ng-model="user.enabled" ng-click="toggleClicked(user._id)" data-false-value="1" data-true-value="0" bs-checkbox>Desactivar</button></td>
                    </tr></tbody>
                </table>
            </div>

        </div>
    </div>
</div>