
<div class="panel panel-default">
    <div class="panel-heading">
        Jugadores
    </div>
    <div class="panel-body">
        <div class="row">
            <table class="table table-striped text-center">
                <thead>
                <tr><th class="text-center">Nombre</th><th class="text-center">Puntuación</th></tr>
                </thead>
                <tbody><tr ng-repeat="user in users"><td>{{user.name}}</td>
                    <td><rating ng-model="vals[$index].value" max="max" readonly="isReadonly" ng-click="setRating($index)" on-leave="overStar = null" readonly="isReadonly" ></rating></td>
                </tr></tbody>
            </table>
        </div>

    </div>
</div>
